---
import { CollectionEntry, getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import FormattedDate from '../components/FormattedDate.astro';

export async function getStaticPaths() {
	const overlays = await getCollection('overlay');
	return overlays.map((overlay) => ({
		params: { slug: overlay.id },
		props: overlay,
	}));
}
type Props = CollectionEntry<'overlay'>;

const overlay = Astro.props;
---
<Layout title={overlay.data.name} path="..">
	<Navbar search={true} path=".."/>
	<main class="flex max-lg:flex-col w-[80vw] mx-auto">
		<div class="w-1/3 max-lg:w-full flex justify-end max-lg:justify-center max-sm:w-full">
			<div class="w-1/2 h-fit max-h-[40vh] bg-neutral-800 my-16 max-lg:my-4 rounded-xl text-white break-words p-4 max-sm:w-full">
				<ul>
					<li>
						<p><span class="font-semibold">Name: </span>{overlay.data.name}</p>
					</li>
					<li>
						<p><span class="font-semibold">Date published: </span><FormattedDate date={overlay.data.pubDate}></p>
					</li>
					<li>
						{!overlay.data.author && <p><span class="font-semibold">Author: </span>Unknown</p>}
						{overlay.data.author && <p><span class="font-semibold">Author: </span><a class="text-blue-600 dark:text-blue-500 hover:underline" href={overlay.data.author_link} target="_blank">{overlay.data.author}</a></p>}
					</li>
					{overlay.data.description && <li>
						<p><span class="font-semibold">Description: </span>{overlay.data.description}</p>
					</li>}
				</ul>
			</div>
		</div>
		<div class="w-1/3 max-lg:w-full flex flex-col items-center">
			<div class="bg-neutral-800 w-fit h-fit mt-16 max-lg:mt-4  mb-4 rounded-md">
				<astro-skin-renderer data-id={overlay.id}>
					<canvas id="skin-preview" class="hover:cursor-move"></canvas>
					<canvas id="skin-canvas" class="hidden w-72" style="image-rendering: pixelated;"></canvas>
				</astro-skin-renderer>
			</div>
			<a id="download" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded transition">Download Skin</a>
		</div>
		<div class="w-1/3 max-lg:w-full">
			<div class="w-fit max-lg:w-full h-fit bg-neutral-800 my-16 max-lg:my-8 rounded-xl text-white p-4 max-lg:mx-auto">
				<section class="mb-8">
					<h2 class="text-lg mb-2">Controls</h2>
					<div class="mb-4">
						<label for="fov-slider" class="block text-sm">FOV (70)</label>
						<input type="range" id="fov-slider" class="w-full" min="20" max="125" step="1">
					</div>
				</section>
			
				<section class="mb-8">
					<h2 class="text-lg mb-2">Animations</h2>
					<div class="flex gap-4 mb-4">
						<div class="flex items-center">
							<input type="radio" id="none" name="animation" value="none" checked>
							<label for="none" class="ml-2 text-sm">None</label>
						</div>
						<div class="flex items-center">
							<input type="radio" id="idle" name="animation" value="idle">
							<label for="idle" class="ml-2 text-sm">Idle</label>
						</div>
						<div class="flex items-center">
							<input type="radio" id="walking" name="animation" value="walking">
							<label for="walking" class="ml-2 text-sm">Walking</label>
						</div>
					</div>
				</section>
			
				<section class="mb-8">
					<h2 class="text-lg mb-2">View</h2>
					<div class="flex gap-4 mb-4">
						<div class="flex items-center">
							<input type="radio" id="view-3d" name="view" value="3d" checked>
							<label for="view-3d" class="ml-2 text-sm">3D</label>
						</div>
						<div class="flex items-center">
							<input type="radio" id="view-2d" name="view" value="2d">
							<label for="view-2d" class="ml-2 text-sm">2D</label>
						</div>
					</div>
				</section>
			</div>
		</div>			
			
	</main>
</Layout>

<script>
	import { SkinViewer, WalkingAnimation, IdleAnimation } from "skinview3d"
		class SkinRenderer extends HTMLElement {
			constructor() {
				super();
				
				const canvas = document.getElementById("skin-preview") as HTMLCanvasElement;
				if(canvas == null) return
				
				const skinViewer = new SkinViewer({
					width: 300,
					height: 500,
					canvas: canvas,
				});
	
				skinViewer.camera.rotation.x = -0.1;
				skinViewer.camera.rotation.y = 0.5;
				skinViewer.camera.rotation.z = 0.05;
				skinViewer.camera.position.x = 15;
				skinViewer.camera.position.y = 3;
				skinViewer.camera.position.z = 25;
				
				skinViewer.fov = 70;
				skinViewer.zoom = 0.7;
	
				this.loadSkin(skinViewer)
				controlsInit(skinViewer)
			}
	
			async loadSkin(skinViewer: SkinViewer){
				let id = this.dataset.id;
				const params = new Proxy(new URLSearchParams(window.location.search), {
					get: (searchParams, prop) => searchParams.get(prop as string),
				}) as any; //for some reason typescript says username is not a property even though it is...
				let username = params.username ?? 'cryptizism'
				let image = await overlayImages("https://mc-heads.net/skin/" + username, `../overlays/${id}.png`)
				let link = document.getElementById('download') as HTMLAnchorElement
				link.href = image
				link.download = id + "-overlay-skin.png"
				await skinViewer.loadSkin(image)
			}
		}	
	
		function overlayImages(backgroundImageUrl:string, overlayImageUrl:string):Promise<string> {
			return new Promise((resolve, reject) => {
				const canvas = document.getElementById('skin-canvas') as HTMLCanvasElement
				if(canvas == null) return
	
				const backgroundImg = new Image();
				backgroundImg.crossOrigin = 'Anonymous';
				backgroundImg.src = backgroundImageUrl;
	
				const overlayImg = new Image();
				overlayImg.crossOrigin = 'Anonymous';
				overlayImg.src = overlayImageUrl;
	
				Promise.all([
					new Promise((res) => (backgroundImg.onload = res)),
					new Promise((res) => (overlayImg.onload = res)),
				]).then(() => {
					canvas.width = backgroundImg.width;
					canvas.height = backgroundImg.height;
	
					const ctx = canvas.getContext('2d');
					if(ctx == null) return;
					ctx.drawImage(backgroundImg, 0, 0);
	
					ctx.drawImage(overlayImg, 0, 0, overlayImg.width, overlayImg.height);
	
					const base64 = canvas.toDataURL('image/png');
	
					resolve(base64);
				});
			});
		}

	function controlsInit(skinViewer: SkinViewer){
		const animationRadios = document.querySelectorAll('input[name="animation"]');
		const viewRadios = document.querySelectorAll('input[name="view"]');
		const fovSlider = document.getElementById('fov-slider');

		let handleAnimationClick = (event: any) => {
			const selectedAnimation = event.target.value;
			switch (selectedAnimation) {
				case "none":
					skinViewer.animation = null;
					break;
				case "walking":
					skinViewer.animation = new WalkingAnimation();
					break;
				case "idle":
					skinViewer.animation = new IdleAnimation();
					break;
				default:
					skinViewer.animation = null;
					break;
			}
		}

		let handleViewClick = (event: any) => {
			const selectedView = event.target.value;
			const elem3D = document.getElementById('skin-preview');
			const elem2D = document.getElementById('skin-canvas');

			switch (selectedView) {
				case "3d":
					elem3D?.classList.remove('hidden')
					elem2D?.classList.add('hidden')
					break;

				case "2d":
					elem3D?.classList.add('hidden')
					elem2D?.classList.remove('hidden')
					break;
				
				case "comparison":
					
					break;
			
				default:
					break;
			}
		}

		let handleFOV = (event: any) => {
			const fov = event.target.value;
			const labelForFovSlider = document.querySelector('label[for="fov-slider"]');
			if(labelForFovSlider == null) return;
			labelForFovSlider.textContent = `FOV (${fov})`
			skinViewer.fov = fov;
		}

		animationRadios.forEach(radio => {
			radio.addEventListener('click', handleAnimationClick);
		});

		viewRadios.forEach(radio => {
			radio.addEventListener('click', handleViewClick);
		});

		fovSlider?.addEventListener('change', handleFOV)
	}
	
	customElements.define('astro-skin-renderer', SkinRenderer);
</script>
